/************************************* GLOBAL*/

* {
    box-sizing: border-box;
}

body {
    font-family: "adelle"; 
    color: black;
    margin: 0; 
    display: flex;
/*    Mobile-specific*/
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0 0 1.1em 0; padding: 0;
}

h1 {
    margin: 0; padding: 0;
    font-family: "museo-slab";
    font-size: 24pt;
    font-weight: 100;
    width: 100%;
    color: #a13e3e;
}

.side {
    min-width: 230px;
    display: flex;
/*    Mobile-specific*/
    flex-direction: row;
/*    justify-content: space-between;*/
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:link {
    color: #777;
}

a:visited {
    color: #777;
}

/*a:focus {}*/

a:hover, a:visited:hover {
    color: black;
}

a:active, a:hover:active {
    color: #a13e3e;
}

a#current {
    font-weight: bold;
    color: black;
}

ul {
    width: 100%;
}

ul, li {
    margin: 0; padding: 0;
    list-style-type: none;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.preview {
    background-repeat: no-repeat;
    background-size: cover;
}




h1, .chap {
    text-align: center;
}

.chap {
    flex-grow: 1;
    margin: 0;
}

.localmenu, .globalmenu {
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
}

.cont {
    width: 100%;
    flex-direction: column;
}

.preview { 
    height: 170px;
}

@media only screen and (max-width: 768px) {
    .localmenu > li > ul {   /*first indentation of local menu*/
        display: none;
    }
}

/************************************* DESKTOP SPECIFIC*/
@media only screen and (min-width: 768px) {
    body {
        padding: 70px 10px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
    }
    
    .side {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 3vw 0 0;
        max-width: 230px;
    }
    
    h1 {
        text-align: left;
    }
    
    .localmenu, .globalmenu {
        flex-direction: column;
    }
    
    .cont {
        width: 100%;
        max-width: 700px;
        flex-direction: row;
    }
    
    .preview {
        width: calc(100%/3);
        height: auto;
    }
    
    .preview:before {
        content: "";
        display: inherit;
        padding-top: 100%;
    }

}