/************************************* GLOBAL*/
* {
    box-sizing: border-box;
}

body {
    font-family: "pt-sans", sans-serif; 
    font-size: 100%;
    color: black;
    margin: 0; padding: 0;
    display: flex;
    flex-wrap: wrap;
/*    Mobile-specific*/
    flex-direction: column;
}

a {
    text-decoration: none;
    outline: none;
}
a:link {
    color: #777;
}
a:visited {
    color: #777;
}
/*a:focus {}*/
a:hover, a:visited:hover {
    color: black;
}
a:active, a:hover:active {
    color: #a13e3e;
}

/*FLEXBOX LAYOUT*/

header {
    margin: 0; 
    padding: 16px 0 14px 0;
/*    Mobile-spcific*/
    background: black;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

/*HEADER STYLING*/

.logo {
    height: 35px;
    fill: white;
}

/*NAVIGATION STYLING*/

nav a.current {
    font-weight: 700;
    color: black;
    cursor: default;
}

nav > ul {
/*    background-color: aquamarine;*/
    margin: 0px;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    max-width: 100vw;
}

nav select {
    margin: 10px;
    font-size: 1rem;
}

nav li {
/*    background-color: coral;*/
    list-style-type: none;
}

nav hr {
    margin: 0; padding: 0;
    width: 100%;
    border: 0;
    height: 1px;
    background: black;
}

nav .globalmenu {
    font-size: 1.3em;
    justify-content: space-around;

}

nav .localmenu > li {
    padding: 0 10px 0 0;
}

/*MAIN CONTENT STYLING*/

main.article, main.about {
    padding: 10px;
}

main h1 {
    padding; 0;
    margin: 0 0 0.8em 0; 
    font-size: 1.5em;
}

main p {
    padding: 0;
    margin: 0 0 1.35em 0;
}

.preview {
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    width: auto;
}

@media only screen and (max-width: 768px) { .mobilehidden {display: none;} }



/************************************* DESKTOP SPECIFIC*/
@media only screen and (min-width: 768px) {
    
    .desktophidden {display: none;}
    
    body {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        max-width: 1400px;
        margin: 0 auto;
    }
    
    header {
        flex-basis: 100%;
        padding-left: 10px;
        background: transparent;
        text-align: left;
    }
    
    .logo {
        height: 50px;
        fill: black;
    }
    
    nav {
        flex-basis: 220px;
    }
    
    nav ul {
        display: block;
    }
    
    main {
        flex: 1;
    }
    
    main.imagebox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .preview {
        width: calc(100%/3);
        height: auto;
    }
    
    .preview:before {
        content: "";
        display: inherit;
        padding-top: 100%;
    }

}

header {background-color: bisque;}
nav {background-color: aliceblue;}
main {background-color: darksalmon;}

