{% extends "base.twig" %}


{% block styles %}
  <link rel="stylesheet" href="{{ theme_url }}/page.css" type="text/css" />
  <style type="text/css">
    img.profile {
      float: left;
      margin: 0 1rem 8vh 0;
      width: 20vw;
      position: initial;
      transform: translateX(0);
    }

    @media screen and (max-width: 667px) {
      img.profile {display: none;}
    }
  </style>
{% endblock %}


{% block content %}
  <main class="content">
    {{ content }} 
  </main>
{% endblock %}
