{% extends "base.twig" %}


{% block styles %}
  <link rel="stylesheet" href="{{ theme_url }}/about.css" type="text/css" />
{% endblock %}


{% block mainnav %}
  <ul class="main">
    <li><a class="active">Claus</a></li>
    <li><a href="/portfolio/">Portfolio</a></li>
  </ul>
{% endblock %}


{% block subnav %}
{% endblock %}


{% block content %}
  <section class="content">
    {{ content }} 
  </section>
{% endblock %}
