/*************************************** RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd,
fieldset, form, label, legend, figure,
table, span, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

span, th, td {
    text-align: left;
    font-weight: normal;
}

label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

img {
    -ms-interpolation-mode: bicubic;
}

/*INDEX:
1. RESET STYLES
2. MAIN STYLES
3. GRID STYLES
4. NAVIGATION STYLES
5. PROJECT STYLES*/

/*************************************** MAIN STYLES */
body {
  font-family: Arial, sans-serif;
  color: black;
  background: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizePrecision;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

p {
  margin-bottom: 2em;
}

/*************************************** GRID STYLES */

.background {
  z-index: -1;
  height: 200vh;
  width: 1680px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  -webkit-box-shadow: -2px 0 11px rgba(0,0,0,.05), 2px 0 11px rgba(0,0,0,.05);
          box-shadow: -2px 0 11px rgba(0,0,0,.05), 2px 0 11px rgba(0,0,0,.05);}

.grid {
  max-width: 1680px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.grid>* {  
  height: 87vh;
  min-height: 518px;
  padding: 0 18px;
}




/*************************************** NAVIGATION STYLES */
#logo {
  font: bold 3.5rem Georgia, serif;
  margin: 3rem 0 2rem -5px;
  letter-spacing: -.02em;
  cursor: default;
  text-rendering: geometricPrecision;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

nav #main li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .1em 0;
}

nav a {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
    -webkit-transform-origin: 50% 170%;
          transform-origin: 50% 170%;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
}

nav a:link, nav a:visited {
  opacity: 0.3;
}

nav a:visited {
}

nav a:focus {
}

nav a:hover {
  opacity: 1;
}

nav a:active {
  -webkit-transform: scale(.97);
          transform: scale(.97);
}

nav a.active {
  opacity: 1;
  cursor: text;
}
