@font-face {
    font-family: 'Knile';
    src: url('knile-bold-webfont/knile-bold-webfont.eot');
    src: url('knile-bold-webfont/knile-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('knile-bold-webfont/knile-bold-webfont.woff2') format('woff2'),
         url('knile-bold-webfont/knile-bold-webfont.woff') format('woff'),
         url('knile-bold-webfont/knile-bold-webfont.ttf') format('truetype'),
         url('knile-bold-webfont/knile-bold-webfont.svg#knilebold') format('svg');
    font-weight: 700;
    font-style: normal;
}