/***************************************************** UNIVERSAL */

nav *::selection {
  background: rgba(0,0,0,0);
  color: indianred;
}

nav {
  padding: calc(1.4em + var(--gap)) 0;
}

nav, nav ul {
  display: flex;
  margin: 0 auto;
}

nav li {
  list-style-type: none;
}

nav a {
  font-family: var(--default-sans);
  text-decoration: none;
  color: inherit;
  transition: opacity 90ms var(--smooth-out);
}

nav a:link, nav a:visited {
  opacity: 0.4;
}

@media screen and (max-width: 667px) {
  nav a:link, nav a:visited {
    opacity: 0.6;
  }
}

nav a:focus {
}

nav a:hover {
  opacity: 1;
  background: #f2f2f2;
  transition: opacity 90ms var(--smooth-in);
}

nav a:active {
  opacity: .2;
}

nav a.active {
  opacity: 1;
}

/**************************************************** SMALL SCREEN SPECIFIC */
@media screen and (max-width: 667px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    text-align: center;
    font-size: 1.6em;
    padding: .4em;
  }
}

/**************************************************** LARGE SCREEN SPECIFIC */
@media screen and (min-width: 667px) {
nav a {
    padding: 1.4em;
  }
}