.content {
	/*background: lightpink;*/
	padding-top: 4rem;
}

h1, h2, h3, h4, h5, h6, 
p, .content img:not(.wide) {
	min-width: 160px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5vw;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-size: unset;
  font-weight: 700, bold;
  margin-bottom: .5em;
  margin-top: .5em;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.4rem;
}

h1:first-of-type {
	margin-top: 0;
}

p {
	font-size: 1rem;
	font-weight: 400, normal;
	line-height: 1.4;
	margin-bottom: 1.2em;
}

p.meta {
	font-size: .8em;
}

.content a {
	color: black;
	text-decoration: none;
	transition: opacity 160ms var(--smooth-out);
	border-bottom: 2px solid rgba(0,0,0,.2);
}

.content a:link, .content a:visited {
  opacity: 0.6;
}

.content a:focus {
}

.content a:hover {
  opacity: 1;
  transition: opacity 160ms var(--smooth-in);
}

.content a:active {
  opacity: 0.2;
}

.content img {
	margin-bottom: 1rem;
	padding: unset;
}

.content img:not([width]) {
	width: 100%;
}

.content img.wide {
	max-width: unset;
	width: 100vw;
}

