:root {
  --smooth-out: cubic-bezier(0,0,.33,1);
  --smooth-in: cubic-bezier(.66,0,1,1);
}

#preload {
  display: none;
}

.project { /* anchor element */
  padding: unset; /* base.css defines padding on all major grid direct children */
  color: white;
  text-decoration: none;
  background-color: black;
  height: calc((100vh - 108px));
}

.project figure {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto
}

/*.project figure>* {
  border: 2px solid pink;
}*/

.project h1 { /* heading */
  grid-area: 1 / 1 / 2 / 2 ;
  z-index: 1;
  font: 900 3.5rem/.9 'Knile', 'Book Antiqua', serif;
  overflow-wrap: break-spaces;
  word-wrap: break-spaces;
  padding: 3rem 18px 2rem;
  /*background: white;*/
  transition: opacity 70ms; /* mouse-out */
  transition-timing-function: var(--smooth-out);
  opacity: 0; /* hide header */
}

.project:hover h1, .project:hover figcaption {
  transition: opacity 110ms; /* mouse-over */
  transition-timing-function: var(--smooth-in);
  opacity: 1; /* show header */
}

.project img {
  grid-area: 1 / 1 / -1 / 2;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%; width: 100%;
  transform: translate3d(0,0,0);
  transform-origin: 50% 10%;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  transition: opacity 100ms, transform 200ms; /* mouse-out */
  transition-timing-function: var(--smooth-in);
  opacity: 1; /* show image */
}

.project:hover img {
  transition: opacity 180ms, transform 55ms; 
  transition-timing-function: var(--smooth-out);
  opacity: .7; 
  transform: translate3d(0,0,0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project figcaption {
  grid-area: 3 / 1 / 4 / -1;
  z-index: 1;
  margin: 1rem 18px;
  hyphens: none;
  transition: opacity 70ms; /* mouse-out */
  transition-timing-function: var(--smooth-out);
  opacity: 0; /* hide caption */
}

.project ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
}

/*.project:focus, .project:active {
  transform: translate3d(0,0,0);
  -webkit-transform: scale(1);
          transform: scale(1);
}*/