.grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
}

.project figcaption {
  visibility: hidden;
}

.project { /* anchor element */
  padding: unset;
  text-decoration: none;
  background-color: black;
  height: 49vh;
}

.project figure {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto
}

.project h1 {
  grid-area: 1 / 1 / 2 / 2 ;
  z-index: 1;
  font: 700 1.2rem var(--default-slab);
  text-shadow: 0 0 7px rgba(0,0,0,.35);
  color: white;
  /*background: rgba(255,255,255,.7);*/
  overflow-wrap: break-spaces;
  word-wrap: break-spaces;
  padding: 1.2em 2vw;
  transition: opacity 70ms;
  transition-timing-function: var(--smooth-out);
  opacity: 0;
}

@media screen and (max-width: 667px) { /* small screens */
  .project h1 {
    opacity: 1;
    padding: .6em 5vw;
    font-size: 7vw;
  }
}

.project:hover h1, .project:hover figcaption {
  transition: opacity 110ms;
  transition-timing-function: var(--smooth-in);
  opacity: 1;
}

.project img {
  grid-area: 1 / 1 / -1 / 2;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%; width: 100%;
  transform: translate3d(0,0,0);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  transition: opacity 100ms, transform 100ms; 
  transition-timing-function: var(--smooth-in);
  opacity: 1; 
}

.project:hover img {
  transition: opacity 180ms, transform 1650ms; 
  transition-timing-function: var(--smooth-out);
  /*opacity: .7; */
  transform: translate3d(0,0,0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project figcaption {
  grid-area: 3 / 1 / 4 / -1;
  z-index: 1;
  margin: 1rem 18px;
  hyphens: none;
  transition: opacity 70ms; /* mouse-out */
  transition-timing-function: var(--smooth-out);
  opacity: 0; /* hide caption */
}

.project ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
}

/* LARGE SCREEN SPECIFIC */
@media screen and (min-width: 667px) {
  .grid {
    /*grid-gap: 1px;*/
  }
}