{% extends "portfolio.twig" %}


{% block styles %}
  {{ parent() }}
{% endblock %}


{% block mainnav %}
 {{ parent() }}
{% endblock %}


{% block subnav %}
  {{ parent() }}
{% endblock %}


{% block content %}
  <section class="">
    {{ content }}
  </section>
{% endblock %}
