/*************************************** RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd,
fieldset, form, label, legend, figure,
table, span, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

span, th, td {
    text-align: left;
    font-weight: normal;
}

label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

img {
    -ms-interpolation-mode: bicubic;
}

/*INDEX:
1. RESET STYLES
2. MAIN STYLES
3. GRID STYLES
4. NAVIGATION STYLES
5. PROJECT STYLES*/

/*************************************** MAIN STYLES */
body {
  font-family: Arial, sans-serif;
  color: black;
  background: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

p {
  margin-bottom: 2em;
}

/*************************************** GRID STYLES */

.background {
  z-index: -1;
  height: 200vh;
  width: 1680px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  -webkit-box-shadow: -2px 0 11px rgba(0,0,0,.05), 2px 0 11px rgba(0,0,0,.05);
          box-shadow: -2px 0 11px rgba(0,0,0,.05), 2px 0 11px rgba(0,0,0,.05);
}

.grid {
  max-width: 1680px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  /*grid-gap: 1px;*/ /* To GAP OR NOT TO GAP? */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.grid > * {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding: 0 18px;
  height: 90vh;
  min-height: 518px;
}

.project {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr auto;
}


/*************************************** NAVIGATION STYLES */
#logo {
  font: bold 3.5rem Georgia, serif;
  margin: 3rem 0 2rem -5px;
  letter-spacing: -.02em;
  cursor: default;
  text-rendering: geometricPrecision;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

nav #main li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;

  /*font-family: Georgia, serif;*/
  padding: .1em 0;
}

nav .sub li a {
  display: inline-block;
  font-size: 1.15rem;
  padding: .5em 0;
}

nav a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
}

nav a:link, nav a:visited {
  opacity: 0.3;
}

nav a:visited {

}

nav a:focus {
}

nav a:hover {
  opacity: 1;
}

nav a:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

nav a.active {
  opacity: 1;
  cursor: text;
}

/*************************************** PROJECT STYLES */

.project {
  text-decoration: none;
  background-color: #333;
  background-size: auto 104%;
  background-position: 50% 50%;
  -webkit-transition: background-size .08s ease-out;
  transition: background-size .08s ease-out;
}

.project h1 { /* heading */
  font: normal 3.5rem Georgia, serif;
  color: black;
  margin: 3rem 0 2rem 0;
  letter-spacing: -.02em;
}

.project h1>span { /* heading */
  background: white;
  padding: 0 .16em 0 .12em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
}

.project h2 { /* category */
}

.project .cat { /* category */
  font: normal 1.15rem Arial, sans-serif;
  color: white;
  margin-bottom: 18px;
  /*background: black;*/
  padding: 0 .16em 0 .12em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* NOT WORKING IN FIREFOX? */
@media (any-hover: hover) { /* ONLY ON HOVER-CAPABLE DEVICES */
  .project>h1 {
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px); /* BETER NIE? */
    -webkit-transition: all .14s ease-out;
    transition: all .14s ease-out;
  }

  .project:hover>h1 {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }

  .project:hover {
    background-size: auto 100%;
  }  /*SHOULD PRIORITIZE TRANSFORM-SCALE: NO MORE BACKGROUND IMAGES*/
}

.project:focus, .project:active {
  background-size: auto 100%;
}
