
/*************************************** RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd,
fieldset, form, label, legend, figure,
table, span, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

* {
  box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

span, th, td {
    text-align: left;
    font-weight: normal;
}

label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

img {
    -ms-interpolation-mode: bicubic;
}

/*************************************** MAIN STYLES */
body {
  font-family: Arial, sans-serif;
  color: black;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: black;
  opacity: 0.3;
  text-decoration: none;
  transition: all 0.12s ease; */!PREFIXES!*/
}

a:hover, a:active {
  opacity: 1;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

p {
  margin-bottom: 2em;
}

/*************************************** GRID STYLES */

.background {
  z-index: -1;
  background: white;
  height: 200vh;
  width: 1440px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%)
}

.grid > * {
  padding: 0 18px 18px 18px;
  height: 87vh;
}

.grid {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.project {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}


/*************************************** NAVIGATION STYLES */
#logo {
  font: bold 3.5rem Georgia, serif;
  margin: 3rem 0 2rem -5px;
  letter-spacing: -.02em;
  cursor: default;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

nav #main li a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;

  /*font-family: Georgia, serif;*/
  padding: .1em 0;
}

nav .sub li a {
  display: inline-block;
  font-size: 1.15rem;
  padding: .5em 0;
}

nav .active {
  opacity: 1;
  cursor: text;
}

/*************************************** PROJECT STYLES */

.project {
  background-color: #333;
  background-size: auto 104%;
  background-position: 50% 50%;
  cursor: pointer;
  transition: background-size .08s ease-out;
}

.project h1 {
  font: normal 3.5rem Georgia, serif;
  color: black;
  margin: 3rem 0 2rem 0;
  letter-spacing: -.02em;
}

.project h1>span {
  background: white;
  padding: 0 .16em 0 .12em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  position: -webkit-sticky;
  position: sticky; /* STICKY IN GRID DOESN'T WORK IN CHROME */
  top: 3rem;
}

.project h2 {
  font: normal 1.35rem Arial, sans-serif;
  color: white;
}

.project h2>span {
  background: black;
  padding: 0 .16em 0 .12em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@media (hover: hover) { /* ONLY ON HOVER-CAPABLE DEVICES */
  .project>h1 {
    opacity: 0;
    /*filter: blur(4px);*/ /* BETER NIE */
    transition: all .14s ease-out; /*!PREFIXES!*/
  }

  .project:hover>h1 {
    opacity: 1;
    /*filter: blur(0);*/
  }

  .project:hover {
    background-size: auto 100%;
  }  /*SHOULD PRIORITIZE TRANSFORM-SCALE: NO MORE BACKGROUND IMAGES*/
}
