/*Local css for ABOUT*/

/*
@media only screen and (min-width: 768px) {
    @keyframes h1slide {
        0% {left: 0px;}
        100% {left: 225px;}
    }
    
    @keyframes contslide {
        0% {top: 120px;}
        40% {top: 55px;}
        100% {top: 60px;}
    }
    
    @keyframes contopac {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    header svg {
        position: relative;
        animation: h1slide 1.25s ease;
        animation-fill-mode: forwards;
    }
    
    main {
        animation: contopac 1.2s ease-in;
        animation-fill-mode: forwards;
    }
}*/
