* {
    box-sizing: border-box;
}

body {
    font-family: "source-serif-pro"; 
    color: black;
    margin: 0; 
    padding: 50px 10px;
    display: flex;
    justify-content: center;
}

p {
    margin: 0 0 1em 0; padding: 0;
}

h1 {
    margin: 0 0 10px 0; padding: 0;
    font-size: 28pt;
    font-weight: 100;
    width: 100%;
/*    min-width: 100%;*/
}

.side {
/*    background-color: cornsilk;*/
    min-width: 230px;
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
}

.cont {
/*    background-color: azure;*/
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.chap {
    background-color: #efefef;
    color: #555;
    padding: 5px;
/*    margin: 5px 0;*/
}

#current {
/*
    position: relative;
    right: -10px;
*/
    background-color: transparent;
    font-weight: 700;
    color: black;
    text-align: right;
}

@media only screen and (max-width: 700px) {
    body {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    
    .side {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        max-width: 500px;
        margin: 0 0 10px 0;
    }
    
    h1, .chap, #current {
        text-align: center;
    }
    
    .chap {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 0;
    }
}
